<div class="container animated fadeIn mt-5 col-xs-12 mx-auto">
  <div>
    <h1>Estadisticas de Covid-19</h1>
  </div>
  <br>
  <form autocomplete="off" [formGroup]="forma" (ngSubmit)="cambios()">
    <div class="row mb-3">
          <div class="col-sm-4">
            <!-- Departamento -->
            <label class="col-2 col-form-label">Departamento</label>
            <div class="form-group row">
              <div class="col">
                <select class="form-control"
                        formControlName="DepartamentoId">
                  <option *ngFor="let dep of departamento"
                          [value]="dep.departamentoId">
                    {{ dep.nombre }}
                  </option>
                </select>
              </div>
             </div>
          </div>
          <div class="col-sm-4">
            <!-- Provincia -->
            <label class="col-2 col-form-label">Provincia</label>
            <div class="form-group row">
             <div class="col">
               <select class="form-control"
                       formControlName="ProvinciaId">
                 <option
                         [value]="0" >
                   [ Seleccione Provincia ]
                 </option>
                 <option *ngFor="let pro of provincia"
                         [value]="pro.provinciaId" >
                   {{ pro.nombre }}
                 </option>
               </select>
             </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- Distrito -->
            <label class="col-2 col-form-label">Distrito</label>
            <div class="form-group row">
             <div class="col">
               <select class="form-control"
                       formControlName="DistritoId">
                 <option [value]="0">
                   [ Seleccione Distrito ]
                 </option>
                 <option *ngFor="let dis of distrito"
                         [value]="dis.distritoId">
                   {{ dis.nombre }}
                 </option>
               </select>
             </div>
            </div>

          </div>
    </div>
  </form>

  <div *ngIf="!cargando">

    <div class="row justify-content-center">
      <div class="card text-white bg-primary mb-3 mr-3" style="width: 45%;">
        <div class="card-header"><h3>Casos Totales</h3></div>
        <div class="col  mt-auto mb-auto">
          <div class="card-body text-center">
            <h1 class="card-title" style="font-size: 60px;"><strong>{{  casosResp.fallecidos + casosResp.confirmados + casosResp.recuperados }}</strong></h1>
          </div>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" style="width: 45%;">
        <div class="card-header"><h3>Casos Recuperados</h3></div>
        <div class="col  mt-auto mb-auto">
          <div class="card-body text-center">
            <h1 class="card-title" style="font-size: 60px;"><strong>{{ casosResp.recuperados}}</strong></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">

       <div class="card text-white bg-danger mb-3 mr-3" style="width: 45%;">
        <div class="card-header"><h3>Casos Confirmados</h3></div>
        <div class="col  mt-auto mb-auto">
          <div class="card-body text-center">
            <h1 class="card-title" style="font-size: 60px;"><strong>{{ casosResp.confirmados}}</strong></h1>
          </div>
        </div>
      </div>

      <div class="card text-white bg-secondary mb-3" style="width: 45%">
        <div class="card-header"><h3>Casos fallecidos</h3></div>
        <div class="col  mt-auto mb-auto">
          <div class="card-body text-center">
            <h1 class="card-title" style="font-size: 60px;"><strong>{{ casosResp.fallecidos}}</strong></h1>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="cargando"
       class="alert alert-info text-center mt-3 animated fadeIn faster"
       role="alert">
  <h4  class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>


</div>
