<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">
    <img src="assets/img/icono_covid.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="" loading="lazy">
    Covid-19
  </a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['info']" >Info<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['casos']" >Casos</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['usuario']" >Usuarios</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class="btn btn-outline-light">
          Ingresar
        </button>
        <button class="btn btn-outline-danger">
          salir
        </button>
      </span>
  </div>
</nav>
